<%- include('./partials/head') %>

  <body>
    <header>
      <section>
        <img src="assets/fdnd.jpeg" alt="fdnd playlist icon">
      </section>

      <section>
        <p class="caps">Openbare playlist</p>
        <h1>Squad page</h1>
        <p>Al je favoriete members in een playlist</p>
        <h2>Gemaakt voor <em>Squad A · 24 nummers,</em> 1 uur 12 min.</h2>
      </section>
    </header>

    <main>
      <table>
        <tr>
          <th>Art</th>
          <th>Titel</th>
          <th>Album</th>
        </tr>

        <% squad.members.forEach(member=> { %>
          <tr>
            <td>
              <% if (member.avatar) { %>
                <a href="<%= member.website %>">
                  <img src="<%= member.avatar %>" onerror="this.src='assets/sad.jpg'"
                    alt="De avatar van <%= member.name %>" />
                  <% } else { %>
                    <img src="assets\sad.jpg" alt="Placeholder image van <%= member.name %> " />
                    <% } %>
                </a>
            </td>

            <td>
              <a href="<%= member.website %>">
                <%= member.name %>
                  <%= member.prefix %>
                    <%= member.surname %>
              </a>
              <br>
              <a class="grey" href="<%= member.website %>">
                🅴 <%= member.nickname %>
              </a>

            </td>

            <td>
              <a class="grey" href="<%= member.website %>">
                <%= member.gitHubHandle %>
              </a>
            </td>
          </tr>
          <% }) %>
      </table>

    </main>
  </body>

  <%- include('./partials/foot') %>