<%- include('./partials/head') %>

  <body>
    <% squad.members.forEach(member=> { %>

      <a href="<%= member.website %>" target="_blank">
        <section>
          <% if (member.avatar) { %>
            <img src="<%= member.avatar %>" onerror="this.src='assets/sad.jpg'"
              alt="De avatar van <%= member.name %>" />
            <% } else { %>
              <img src="assets\sad.jpg" alt="Placeholder image van <%= member.name %> " />
              <% } %>

                <h1>
                  <%= member.name %>
                    <%= member.prefix %>
                      <%= member.surname %>
                </h1>

                <!-- <h2>
                  <%= member.gitHubHandle %>
                </h2> -->
        </section>
      </a>

      <% }) %>
  </body>

  <%- include('./partials/foot') %>